#app {
  width: 95vw;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  border: 10px solid blue;
  height: 10vh;
  width: 95vw;
  background-color: orange;
}

#nlink {
  align-text: center;
}
